altair_saver==0.5.0
altair_viewer==0.4.0
anywidget==0.6.5
AppKit==0.2.8
atheris==2.3.0
beautifulsoup4==4.9.3
bjoern==3.2.2
bokeh==2.3.3
boto3==1.28.3
botocore==1.31.4
brotlicffi==1.1.0.0
brotlipy==0.7.0
cftime==1.6.2
chart_studio==1.1.0
Cheetah==2.4.4
cherrypy==18.8.0
ConfigParser==6.0.0
cryptography==3.4.7
ctypes_snappy==1.03
cycler==0.10.0
Cython==0.29.24
cytoolz==0.11.0
dask==2021.7.0
defusedxml==0.7.1
diesel==3.0.24
Django==4.0.4
dl==0.1.0
docutils==0.16
eventlet==0.33.3
fastparquet==2023.8.0
flup==1.0.3
Foundation==0.1.0a0.dev1
fqdn==1.5.1
fsspec==2021.7.0
genapi==0.0.8
geopandas==0.13.2
gevent==21.1.2
gitdb_speedups==0.1.0
gunicorn==21.2.0
HTMLParser==0.0.2
hypothesis==6.86.0
ipaddr==2.2.0
ipython==7.22.0
ipywidgets==7.6.3
isoduration==20.11.0
jenkspy==0.3.3
JPype1==1.4.1
jsonpointer==2.4
keyring==23.0.1
lockfile==0.12.2
lxml==4.6.3
Mako==1.2.4
matplotlib==3.5.2
meinheld==1.0.2
mtrand==0.1
mypy==1.5.1
mypy_extensions==0.4.3
nose==1.3.7
numarray==1.5.1
Numeric==24.2
numexpr==2.7.3
odfpy==1.4.1
olefile==0.46
openpyxl==3.0.7
ordereddict==1.1
PasteScript==3.3.0
pickle5==0.0.12
plotly==5.17.0
psutil==5.8.0
psycopg2==2.9.7
pycares==4.3.0
pycurl==7.45.2
pydantic==2.3.0
PyInstaller==5.13.2
pyOpenSSL==20.0.1
pyOpenSSL==23.2.0
pyperf==2.6.1
PyQt4==4.11.4
PyQt5==5.15.9
PyQt6==6.5.2
PySide2==5.15.2.1
PySide6==6.5.2
pytest==6.2.4
python-socketio==5.9.0
pyxlsb==1.0.10
PyYAML==5.4.1
PyYAML==6.0.1
QtPy==1.9.0
rfc3339_validator==0.1.4
rfc3986_validator==0.1.1
rfc3987==1.3.8
rocket==1.2.8
s3fs==2023.9.1
scikit_learn==0.24.2
scipy==1.6.2
selenium==4.12.0
sets==0.3.2
setuptools_scm==7.1.0
simplejson==3.19.1
snowflake==0.0.4
Sphinx==4.0.2
SQLAlchemy==1.4.22
statsmodels==0.12.2
streamlit_authenticator==0.2.3
streamlit_chat==0.1.1
streamlit_folium==0.13.0
streamlit_option_menu==0.3.6
sympy==1.8
tables==3.6.1
testbench==0.1.2
threadpoolctl==3.2.0
torch==2.0.1
traitlets==5.0.5
transformers==4.33.2
uri_template==1.3.0
urllib3_secure_extra==0.1.0
vegafusion==1.4.0
waitress==2.1.2
watchdog==1.0.2
webcolors==1.13
wincertstore==0.2.1
xarray==2023.8.0
xlrd==2.0.1
XlsxWriter==1.4.4
xmlrpclib==1.0.1
zstandard==0.21.0
